---
import { getEntry, render } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const about = await getEntry('about', 'index');
if (!about) throw new Error('About content missing');
const { Content } = await render(about);
---

<Layout title="Ryodgie Barnatia">
  <div class="about">
    <Content />
  </div>
</Layout>

<style lang="scss">
  .about {
    color: $color-text-muted;
    font-family: $font-sans;
    font-size: $text-base;
    line-height: $leading-normal;

    > :global(p) + :global(p) {
      margin-top: $space-s;
    }
  }
</style>